**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.**

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt','w') as file:
    file.write(test1)

***

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [2]:
with open('test.txt', 'r') as file_in:
    test2 = file_in.readline()
print(test2)

This is a test of the emergency text system,

In [3]:
if test1 == test2:
    print("There is no difference. Both are same")
else:
    print("Both are different")

There is no difference. Both are same

***

**3. Create a CSV file called books.csv by using these lines:**

    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992

In [4]:
import csv

header = [['title','author','year']]
data =[ 
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
    ]

with open('books.csv','w',newline='') as file:
    csvwriter = csv.writer(file)
    csvwriter.writerows(header)
    csvwriter.writerows(data)

***

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [5]:
import sqlite3

mydb = sqlite3.connect('books.db')
conn = mydb.cursor()

conn.execute('create table books(title varchar(20),author varchar(20), year int)')
mydb.commit()

***

**5. Read books.csv and insert its data into the book table.**

In [6]:
import pandas as pd

books_df = pd.read_csv('books.csv',encoding='unicode_escape')
books_df.to_sql('books', mydb, if_exists='append', index = False)

***

**6. Select and print the title column from the book table in alphabetical order.**

In [7]:
conn.execute('select title from books order by title asc')
print(conn.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

***

**7. From the book table, select and print all columns in the order of publication.**

In [8]:
conn.execute('select title, author, year from books order by year')


result = pd.DataFrame(conn.fetchall(), columns=['title','author','year'])
result

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

***

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [9]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")
data = engine.execute('select * from books')
for row in data:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

***

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.**

Some useful articles to install and run the Redis server locally.

The most updated (only few minor releases behind) version of Redis can be found in below link. This repository provides you with 3.2.100 version (current is 3.2) whereas the most upvoted answer gives you only 2.4.6 version and the last update to the repo was 2 years ago.

    https://github.com/microsoftarchive/redis/releases
    File name: Redis-x64-3.0.504.zip
    
The installation is straightforward: just copy everything from the archive to any folder and run redis-server.exe to run the server

In [20]:
!pip install redis

Collecting redis
  Downloading redis-4.1.3-py3-none-any.whl (173 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\programdata\anaconda3\lib\site-packages (from redis) (20.9)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.3

WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ystan (c:\programdata\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [10]:
import redis

mydb = redis.Redis(host='localhost', port=6379, db=0)
mydb.delete('test')
mydb.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
mydb.hgetall('test')

<ipython-input-10-66199e7421f0>:5: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  mydb.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

***

**10. Increment the count field of test and print it.**

In [11]:
mydb.hincrby('test','count', 3)

4

In [12]:
mydb.hgetall('test')

{b'count': b'4', b'name': b'Fester Bestertester'}

    The counter has been incremented and displayed here

***